<div class="panel-body">
  <form [formGroup]="form" (ngSubmit)="createJob(form.value)">
    <div class="form-group col-sm-6">
      <label for="title">titre</label>
      <input type="text" 
              name="title"
              class="form-control" 
              placeholder="titre de votre annonce" 
              formControlName="title">
      <label for="company">entreprise</label>
      <input type="text" 
              name="company"
              class="form-control" 
              placeholder="nom de votre entreprise" 
              formControlName="company">              
      <label for="city">ville</label>
      <input type="text" 
              name="city"
              class="form-control" 
              placeholder="ville du poste proposé" 
              formControlName="city">   
      <label for="zipcode">code postal</label>
      <input type="text" 
              name="zipcode"
              class="form-control" 
              placeholder="code postal" 
              formControlName="zipcode">                    
    </div>

    <div class="form-group col-sm-6">
      <label for="description">description</label><br>
      <textarea name="description" cols="30" rows="10" formControlName="description"></textarea>
    </div>

    <div class="form-group col-sm-6">
      <label for="contract">contrat</label>
      <select name="contract" formControlName="contract">
        <option *ngFor="let ct of contractTypes" [value]="ct.value">{{ct.name}}</option>
      </select>
              
    </div>
    <div class="form-group col-sm-12">
      <label for="salary">salaire</label>                   
      <input type="text" 
              name="salary" 
              class="small-text" 
              placeholder="salaire" 
              formControlName="salary">  
      <select name="currency" formControlName="currency" class="currency">
        <option *ngFor="let curr of currencies" [value]="curr.value">{{curr.name}}</option>  
      </select>           
    </div>

    <div class="form-group col-sm-6">
      <label for="experience">expérience</label>    
      <select name="experience" formControlName="experience">
        <option *ngFor="let exp of experience" [value]="exp.value">{{exp.name}}</option>
      </select>      
      <label for="status">statut</label>          
      <select name="status" formControlName="status">
        <option *ngFor="let status of statuses" [value]="status.value">{{status.name}}</option>
      </select>             
    </div>

    <div class="form-group col-sm-12">
      <label for="area">déplacements</label><br>  
      <div *ngFor="let area of areas">
        <input type="radio" 
                [id]='"btn-" + area.value'
                name="area" 
                [value]="area.value"
                formControlName="area"> <label [for]='"btn-" + area.value'>{{area.name}}</label>
      </div>
    </div>

    <div class="form-group col-sm-12">
      <label for="field">secteur</label>    
      <input type="text"
              name="field"
              placeholder="secteur d'activité"
              formControlName="field"
      >
    </div>  

    <div class="form-group col-sm-12">
      <label for="field">date de démarrage</label>    
      <input type="date"
              name="startdate"
              formControlName="startdate"
      >
    </div>  

    <div class="form-group col-sm-6">
      <button type="submit" class="btn btn-success">créer l'annonce</button>
    </div>

  </form>
</div>
