<div *ngIf="!isAuthenticated">
  <h3>Connexion</h3>
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm.value)">
    <input type="text"
            class="login-input" 
            ngModel 
            name="email" 
            placeholder="email " 
            required>
    <input type="password" 
            class="login-input"
            ngModel 
            name="password" 
            placeholder="mot de passe" 
            required>
    <button type="submit" class="btn btn-success" [disabled]="loginForm.invalid">se connecter</button>
  </form>
</div>

<div *ngIf="isAuthenticated">
  {{welcomeMessage}}
  <pre>
    {{ jbbData | json }}
  </pre>
</div>

<div *ngIf="isAuthenticated">
  <a href="#" routerLink="/logout"></a>
</div>